# Hands-On Data Cleansing
Rakamin - 19 Dec 2021

Author: Mohamad Rifki Ilham

# Mengenal Konsep Variabel & Assignment

## Data Numeric

In [ ]:
tinggi_badan = 173

berapa isi dari variabel tinggi_badan sekarang?

In [ ]:
tinggi_badan

170

ganti nilai tinggi_badan dengan 170

In [ ]:
tinggi_badan = 170

berapa isi dari variabel tinggi_badan sekarang?

In [ ]:
tinggi_badan

173

In [ ]:
tinggi_badan/100

1.7

In [ ]:
tinggi_badan_in_m = tinggi_badan/100
tinggi_badan_in_m

1.7

## Data String

In [ ]:
nama_depan = "Raffi"
nama_belakang = "Ahmad"

In [ ]:
nama_depan + nama_belakang

'RaffiAhmad'

In [ ]:
nama_depan+" "+nama_belakang

'Raffi Ahmad'

## [CHALLENGE] Membuat variabel baru

In [ ]:
nama = "Rifqi"
umur = 24
#buat variabel nama dan umur di sini

In [ ]:
"Halo, nama saya "+nama+". Umur saya adalah "+str(umur)+" tahun"

'Halo, nama saya Rifqi. Umur saya adalah 24 tahun'

# Import Pandas Library

In [ ]:
import pandas as pd

# Membaca Dataset

In [ ]:
df_dataset = pd.read_csv('rakamin_class.csv')

In [ ]:
df_dataset

   registration_id    name               email  ...  active  class score
0       RK20202344    Nina      nina@gmail.com  ...       1      6    80
1       RK20202345    Dyah      dyah@gmail.com  ...       0      2    66
2       RK20202346   Prima     prima@ymail.com  ...       1      1    55
3       RK20202347  Firman   firman@google.com  ...       1      6    93
4       RK20202348     Eva     eva@rakamin.com  ...       0      5    80
..             ...     ...                 ...  ...     ...    ...   ...
95      RK20202439   Abdul     abdul@gmail.com  ...       0      6    59
96      RK20202440     Ria       ria@gmail.com  ...       0      6    58
97      RK20202441   Putra     putra@gmail.com  ...       1      6    71
98      RK20202442   Kokom  kokom@facebook.com  ...       0      2    73
99      RK20202443   Ilham     ilham@gmail.com  ...       1      2    52

[100 rows x 10 columns]

# Operasi Sederhana Data Frame

## a. shape

Melihat ukuran Data Frame (baris & kolom)

In [ ]:
df_dataset.shape

(100, 10)

In [ ]:
df_dataset.shape[0]

100

In [ ]:
df_dataset.shape[1]

10

## b. columns

Melihat semua nama kolom

In [ ]:
df_dataset.columns

Index(['registration_id', 'name', 'email', 'phone', 'age', 'city', 'province',
       'active', 'class', 'score'],
      dtype='object')

## c. head()

Melihat N baris pertama  (default N=5)

In [ ]:
df_dataset.head()
#dari atas ke bawah#

  registration_id    name              email  ...  active  class score
0      RK20202344    Nina     nina@gmail.com  ...       1      6    80
1      RK20202345    Dyah     dyah@gmail.com  ...       0      2    66
2      RK20202346   Prima    prima@ymail.com  ...       1      1    55
3      RK20202347  Firman  firman@google.com  ...       1      6    93
4      RK20202348     Eva    eva@rakamin.com  ...       0      5    80

[5 rows x 10 columns]

In [ ]:
df_dataset.head(3)

  registration_id   name            email  ...  active  class score
0      RK20202344   Nina   nina@gmail.com  ...       1      6    80
1      RK20202345   Dyah   dyah@gmail.com  ...       0      2    66
2      RK20202346  Prima  prima@ymail.com  ...       1      1    55

[3 rows x 10 columns]

## d. tail()

Melihat N baris terakhir (default N=5)

In [ ]:
df_dataset.tail()
#dari bawah ke atas#

   registration_id   name               email  ...  active  class score
95      RK20202439  Abdul     abdul@gmail.com  ...       0      6    59
96      RK20202440    Ria       ria@gmail.com  ...       0      6    58
97      RK20202441  Putra     putra@gmail.com  ...       1      6    71
98      RK20202442  Kokom  kokom@facebook.com  ...       0      2    73
99      RK20202443  Ilham     ilham@gmail.com  ...       1      2    52

[5 rows x 10 columns]

In [ ]:
df_dataset.tail(3)

   registration_id   name               email  ...  active  class score
97      RK20202441  Putra     putra@gmail.com  ...       1      6    71
98      RK20202442  Kokom  kokom@facebook.com  ...       0      2    73
99      RK20202443  Ilham     ilham@gmail.com  ...       1      2    52

[3 rows x 10 columns]

# Data Sorting

In [ ]:
df_dataset.head()

  registration_id    name              email  ...  active  class score
0      RK20202344    Nina     nina@gmail.com  ...       1      6    80
1      RK20202345    Dyah     dyah@gmail.com  ...       0      2    66
2      RK20202346   Prima    prima@ymail.com  ...       1      1    55
3      RK20202347  Firman  firman@google.com  ...       1      6    93
4      RK20202348     Eva    eva@rakamin.com  ...       0      5    80

[5 rows x 10 columns]

### Mengurutkan age dari termuda ke tertua (ASCENDING - Kecil ke besar)

In [ ]:
df_dataset.sort_values('age')

   registration_id     name                email  ...  active  class score
92      RK20202436  Munaroh  munaroh@hotmail.com  ...       0      1    91
82      RK20202426      Een     een@facebook.com  ...       1      1    74
2       RK20202346    Prima      prima@ymail.com  ...       1      1    55
5       RK20202349    Bagus    bagus@hotmail.com  ...       1      1    84
7       RK20202351     Yuni      yuni@google.com  ...       0      1    87
..             ...      ...                  ...  ...     ...    ...   ...
0       RK20202344     Nina       nina@gmail.com  ...       1      6    80
42      RK20202386   Hendra   hendra@hotmail.com  ...       1      6    75
32      RK20202376   Hafizh    hafizh@google.com  ...       1      6    82
3       RK20202347   Firman    firman@google.com  ...       1      6    93
13      RK20202357   Amelia     amelia@ymail.com  ...       1      6    67

[100 rows x 10 columns]

In [ ]:
df_dataset.sort_values('age', ascending=True)

   registration_id     name                email  ...  active  class score
92      RK20202436  Munaroh  munaroh@hotmail.com  ...       0      1    91
82      RK20202426      Een     een@facebook.com  ...       1      1    74
2       RK20202346    Prima      prima@ymail.com  ...       1      1    55
5       RK20202349    Bagus    bagus@hotmail.com  ...       1      1    84
7       RK20202351     Yuni      yuni@google.com  ...       0      1    87
..             ...      ...                  ...  ...     ...    ...   ...
0       RK20202344     Nina       nina@gmail.com  ...       1      6    80
42      RK20202386   Hendra   hendra@hotmail.com  ...       1      6    75
32      RK20202376   Hafizh    hafizh@google.com  ...       1      6    82
3       RK20202347   Firman    firman@google.com  ...       1      6    93
13      RK20202357   Amelia     amelia@ymail.com  ...       1      6    67

[100 rows x 10 columns]

### Mengurutkan age dari tertua ke termuda (DESCENDING - Besar ke Kecil)

In [ ]:
df_dataset.sort_values('age', ascending=False)

   registration_id     name                email  ...  active  class score
13      RK20202357   Amelia     amelia@ymail.com  ...       1      6    67
3       RK20202347   Firman    firman@google.com  ...       1      6    93
42      RK20202386   Hendra   hendra@hotmail.com  ...       1      6    75
32      RK20202376   Hafizh    hafizh@google.com  ...       1      6    82
0       RK20202344     Nina       nina@gmail.com  ...       1      6    80
..             ...      ...                  ...  ...     ...    ...   ...
7       RK20202351     Yuni      yuni@google.com  ...       0      1    87
5       RK20202349    Bagus    bagus@hotmail.com  ...       1      1    84
2       RK20202346    Prima      prima@ymail.com  ...       1      1    55
92      RK20202436  Munaroh  munaroh@hotmail.com  ...       0      1    91
82      RK20202426      Een     een@facebook.com  ...       1      1    74

[100 rows x 10 columns]

### [CHALLENGE] Ambil data 10 orang dengan score terendah

In [ ]:
df_dataset.sort_values('score', ascending=True).head(10)

   registration_id      name                 email  ...  active  class score
81      RK20202425     Aulia       aulia@ymail.com  ...       1      6    50
89      RK20202433      Tuti       tuti@google.com  ...       1      5    51
99      RK20202443     Ilham       ilham@gmail.com  ...       1      2    52
48      RK20202392    Dudung   dudung@facebook.com  ...       1      4    53
75      RK20202419    Achmad      achmad@ymail.com  ...       1      5    53
2       RK20202346     Prima       prima@ymail.com  ...       1      1    55
91      RK20202435  Setiawan  setiawan@samsung.com  ...       0      5    55
37      RK20202381     Retno       retno@gmail.com  ...       1      6    57
25      RK20202369     Endah     endah@rakamin.com  ...       1      6    58
96      RK20202440       Ria         ria@gmail.com  ...       0      6    58

[10 rows x 10 columns]

# Data Filtering

### Filter kolom name, email, phone, province

In [ ]:
df_dataset[ ['name','email','phone','province'] ].head(10)

     name              email      phone        province
0    Nina     nina@gmail.com  628198157  Kepulauan Riau
1    Dyah     dyah@gmail.com  628306496      Jawa Barat
2   Prima    prima@ymail.com  628755450         Jakarta
3  Firman  firman@google.com  628638112         Lampung
4     Eva    eva@rakamin.com  628702735      Jawa Timur
5   Bagus  bagus@hotmail.com  628816223         Jakarta
6   Citra  citra@hotmail.com  628965407     Jawa Tengah
7    Yuni    yuni@google.com  628714465         Jakarta
8    Putu     putu@gmail.com  628601097      Jawa Timur
9   Nurul    nurul@gmail.com  628687911         Jakarta

## Ambil nama tiap orang beserta score nya

In [ ]:
df_dataset[['name','score']]

      name  score
0     Nina     80
1     Dyah     66
2    Prima     55
3   Firman     93
4      Eva     80
..     ...    ...
95   Abdul     59
96     Ria     58
97   Putra     71
98   Kokom     73
99   Ilham     52

[100 rows x 2 columns]

### Ambil data orang-orang dari Jakarta

In [ ]:
df_dataset[df_dataset['province']=='Jakarta']

   registration_id     name                 email  ...  active  class score
2       RK20202346    Prima       prima@ymail.com  ...       1      1    55
5       RK20202349    Bagus     bagus@hotmail.com  ...       1      1    84
7       RK20202351     Yuni       yuni@google.com  ...       0      1    87
9       RK20202353    Nurul       nurul@gmail.com  ...       0      1    79
15      RK20202359    Dadan    dadan@facebook.com  ...       1      1    63
16      RK20202360    Diana       diana@ymail.com  ...       0      1    87
31      RK20202375    Ratih       ratih@gmail.com  ...       0      1    81
40      RK20202384    Raden     raden@rakamin.com  ...       1      1    87
46      RK20202390    Wulan  wulan@rocketmail.com  ...       1      1    73
67      RK20202411  Hidayat   hidayat@hotmail.com  ...       0      1   100
82      RK20202426      Een      een@facebook.com  ...       1      1    74
92      RK20202436  Munaroh   munaroh@hotmail.com  ...       0      1    91

[12 rows x 10 columns]

### Ambil data orang-orang yang berusia lebih dari 30 tahun

In [ ]:
df_dataset[df_dataset['age'] > 30]

### Ambil data orang-orang dengan score <= 60

In [ ]:
df_dataset[df_dataset['score'] <= 60]

## Ada berapa orang yang punya score <= 60

In [ ]:
len(df_dataset[df_dataset['score'] <= 60])

### Ambil data orang-orang yang bukan dari kota Depok

In [ ]:
df_dataset[df_dataset['city'] != 'Depok']

## Ambil data orang-orang dari Jawa Timur dengan umur > 40

In [ ]:
df_dataset[ (df_dataset['province'] == 'Jawa Timur') & (df_dataset['age'] > 40) ]

## Ambil data orang-orang yang dari Surabaya, atau punya score > 90

In [ ]:
df_dataset[ (df_dataset['city'] == 'Surabaya') | (df_dataset['score'] > 90) ]

## Ambil data orang-orang yang bukan dari Malang

In [ ]:
df_dataset[df_dataset['city'] != 'Malang']

## Siapa orang paling tua yang berasal dari Jawa Tengah?

In [ ]:
df_dataset[df_dataset['province'] == 'Jawa Tengah'].sort_values('age', ascending=False).head(1)

## [CHALLENGE] Ada berapa banyak orang di kelas 4 yang berasal dari Jawa Tengah?

In [ ]:
len(df_dataset[(df_dataset['class_name'] == 'Class 4') & (df_dataset['province'] == 'Jawa Tengah')])

## [CHALLENGE] Siapa nama pemilik no HP 628833542?

In [ ]:
df_dataset[df_dataset['phone'] == '628833542']['name']

## Untuk semua orang di kelas 1, tunjukkan info nama, kota, dan provinsi nya

In [ ]:
df_dataset[df_dataset['class_name'] == 'Class 1'][['name', 'city', 'province']]

# Data Aggregation

## Melihat jumlah orang per provinsi

In [ ]:
df_dataset.groupby('province')['registration_id'].count()

Tambahkan .reset_index() untuk membuat dataframe yang kolomnya rata

In [ ]:
df_dataset.groupby('province')['registration_id'].count().reset_index()

SyntaxError: invalid syntax (<ipython-input-1-035fd08492df>, line 1)

## Melihat rata-rata score tiap kelas

In [ ]:
df_dataset.groupby('class')['score'].mean().reset_index()

diurutkan dari rata-rata score tertinggi

In [ ]:
df_dataset.groupby('class')['score'].mean().reset_index().sort_values('score',ascending=False)

## Untuk orang-orang dari Jakarta, berapa rata-rata score per kota?

In [ ]:
df_dataset[df_dataset['province'] == 'Jakarta'].groupby('city')['score'].mean().reset_index()

## Berapa banyak orang yang aktif, dan tidak aktif?

In [ ]:
df_dataset.groupby('is_active')['registration_id'].count().reset_index()