# Hands-On Data Cleansing
Rakamin - 19 Dec 2021

Author: Mohamad Rifki Ilham

# Import Libraries

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load Dataset

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Rakamin/loan_customer.csv')

In [ ]:
df

      loan_id  birth_date  ...  property_type loan_status
0    LP001002  1977-05-15  ...          house     APPROVE
1    LP001003  1979-08-24  ...         studio      REJECT
2    LP001005  1991-03-28  ...          house     APPROVE
3    LP001006  1980-06-02  ...          house     APPROVE
4    LP001008  1989-05-19  ...          house     APPROVE
..        ...         ...  ...            ...         ...
616  LP002978  1976-03-25  ...         studio     APPROVE
617  LP002979  1987-01-26  ...         studio     APPROVE
618  LP002983  1982-03-08  ...          house     APPROVE
619  LP002984  1986-12-05  ...          house     APPROVE
620  LP002990         NaN  ...      apartment      REJECT

[621 rows x 17 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 621 entries, 0 to 620
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   loan_id             621 non-null    object
 1   birth_date          572 non-null    object
 2   phone_number        569 non-null    float64
 3   gender              608 non-null    object
 4   married             618 non-null    object
 5   dependents          605 non-null    object
 6   education           620 non-null    object
 7   self_employed       588 non-null    object
 8   applicant_income    612 non-null    float64
 9   coapplicant_income  621 non-null    float64
 10  loan_amount         621 non-null    int64
 11  loan_term_month     621 non-null    int64
 12  loan_term_year      621 non-null    int64
 13  credit_history      570 non-null    float64
 14  has_credit_card     88 non-null     object
 15  property_type       620 non-null    object
 16  loan_status         621 non-null    object
dtypes: float64(4), int64(3), object(10)
memory usage: 82.6+ KB

In [ ]:
df.head()

    loan_id  birth_date  phone_number  ... has_credit_card property_type loan_status
0  LP001002  1977-05-15  6.281142e+11  ...             NaN         house     APPROVE
1  LP001003  1979-08-24  6.287764e+11  ...             NaN        studio      REJECT
2  LP001005  1991-03-28  6.281192e+11  ...             NaN         house     APPROVE
3  LP001006  1980-06-02  6.285634e+10  ...             NaN         house     APPROVE
4  LP001008  1989-05-19  6.281130e+11  ...             NaN         house     APPROVE

[5 rows x 17 columns]

In [ ]:
nums = ['birth_date', 'phone_number', 'dependents', 'applicant_income', 'coapplicant_income', 'loan_amount', 'loan_term_month', 'loan_term_year']
cats = ['gender', 'married', 'education', 'self_employed', 'credit_history', 'has_credit_card', 'property_type', 'loan_status']

# Data Cleansing

Missing Data

In [ ]:
df.isna().sum()

loan_id                 0
birth_date             49
phone_number           52
gender                 13
married                 3
dependents             16
education               1
self_employed          33
applicant_income        9
coapplicant_income      0
loan_amount             0
loan_term_month         0
loan_term_year          0
credit_history         51
has_credit_card       533
property_type           1
loan_status             0
dtype: int64

## Handling missing values

In [ ]:
df = df.dropna()

In [ ]:
df.isna().sum()

loan_id               0
birth_date            0
phone_number          0
gender                0
married               0
dependents            0
education             0
self_employed         0
applicant_income      0
coapplicant_income    0
loan_amount           0
loan_term_month       0
loan_term_year        0
credit_history        0
has_credit_card       0
property_type         0
loan_status           0
dtype: int64

## Handling duplicated data

In [ ]:
df.duplicated().sum()

0

In [ ]:
print(df.duplicated().sum())
df.drop_duplicates(inplace=True)
print(df.duplicated().sum())

0
0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

## Handling Outlier

In [ ]:
print(f'Jumlah baris sebelum memfilter outlier: {len(df)}')

for col in ['applicant_income','coapplicant_income', 'loan_amount', 'loan_term_month', 'loan_term_year']:
  Q1 = df[col].quantile(0.25)
  Q3 = df[col].quantile(0.75)
  IQR = Q3-Q1
  low_limit = Q1 - 1.5*IQR
  high_limit = Q3 + 1.5*IQR
  df = df[(df[col] >= low_limit) & (df[col] <= high_limit)]

print(f'Jumlah baris setelah memfilter outlier: {len(df)}')

Jumlah baris sebelum memfilter outlier: 52
Jumlah baris setelah memfilter outlier: 39

## Feature Encoding

In [ ]:
cats_updated = ['gender', 'married', 'education', 'self_employed', 'credit_history', 'has_credit_card', 'property_type', 'loan_status']

for col in cats_updated:
  print(f'value counts of column {col}')
  print(df[col].value_counts())
  print('---'*10, '\n')

value counts of column gender
Male      31
Female     8
Name: gender, dtype: int64
------------------------------

value counts of column married
Yes    23
No     16
Name: married, dtype: int64
------------------------------

value counts of column education
Graduate        26
Not Graduate    13
Name: education, dtype: int64
------------------------------

value counts of column self_employed
No     31
Yes     8
Name: self_employed, dtype: int64
------------------------------

value counts of column credit_history
1.0    35
0.0     4
Name: credit_history, dtype: int64
------------------------------

value counts of column has_credit_card
no     21
yes    18
Name: has_credit_card, dtype: int64
------------------------------

value counts of column property_type
apartment    18
house        13
studio        8
Name: property_type, dtype: int64
------------------------------

value counts of column loan_status
APPROVE    31
REJECT      8
Name: loan_status, dtype: int64
------------------------------

# Business Insight

## Analisis minat pelanggan berdasarkan pada tipe properti

In [ ]:
mapping_jenis_kelamin = {
    'Female' : 0,
    'Male' : 1
}

df['gender'] = df['gender'].map(mapping_jenis_kelamin)

In [ ]:
df.groupby(["gender"])["applicant_income"].count()

gender
0     8
1    31
Name: applicant_income, dtype: int64

In [ ]:
df.groupby(["gender"], as_index=False)["applicant_income"].count()

   gender  applicant_income
0       0                 8
1       1                31

In [ ]:
df.groupby('gender')

In [ ]:
df.groupby(['gender', 'applicant_income'])['applicant_income'].mean()

gender  applicant_income
0       2330.0              2330.0
        2400.0              2400.0
        2995.0              2995.0
        3180.0              3180.0
        4408.0              4408.0
        7142.0              7142.0
        7451.0              7451.0
        8624.0              8624.0
1       1025.0              1025.0
        1442.0              1442.0
        2000.0              2000.0
        2297.0              2297.0
        2395.0              2395.0
        2479.0              2479.0
        2698.0              2698.0
        2799.0              2799.0
        3095.0              3095.0
        3167.0              3167.0
        3173.0              3173.0
        3273.0              3273.0
        3400.0              3400.0
        3850.0              3850.0
        3941.0              3941.0
        3975.0              3975.0
        4053.0              4053.0
        4226.0              4226.0
        4554.0              4554.0
        4683.0              4683.0
        5166.0              5166.0
        5167.0              5167.0
        5488.0              5488.0
        5695.0              5695.0
        5818.0              5818.0
        5821.0              5821.0
        6000.0              6000.0
        6045.0              6045.0
        6250.0              6250.0
        6540.0              6540.0
        6875.0              6875.0
Name: applicant_income, dtype: float64

## Analisis pengaruh status perkawinan terhadap jangka waktu meminjam

In [ ]:
mapping_nikah = {
    'No' : 0,
    'Yes' : 1
}

df['married'] = df['married'].map(mapping_nikah)

In [ ]:
df.groupby(['married', 'loan_term_year'])['loan_amount'].mean()

married  loan_term_year
0        30                106187.500000
1        30                133956.521739
Name: loan_amount, dtype: float64

Sekian dari saya.
Mohon maaf pasti banyak kesalahan karena saya sendiri belum terlalu paham.